# Python
__pycache__/
*.py[cod]
*.pyc
*.pyd
*.pyo
*.so
*.egg-info/
.venv/
venv/
env/
.env

# Static files
static/uploads/*
static/results/*

# IDE
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db